<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body class="moodtrack">


  <div class="page-header text-center">
    <h1><span></span>Mood Tracker</h1>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
</div>

<section>

<form>
  <input type="checkbox" id="sad" name="moodtoday" value="sad">
  <label for="sad">Sad</label>
 <input type="checkbox" id="sad" name="moodtoday" value="happy">
  <label for="happy">Happy</label>
 <input type="checkbox" id="sad" name="moodtoday" value="angry">
  <label for="angry">Angry</label>
</form>


</section>


<!-- <form>
<input type="date">

  <legend>How are you feeling today?</legend>
 <input type="checkbox" id="sad" name="moodtoday" value="sad">
    <label for="sad">Sad</label>
   <input type="checkbox" id="sad" name="moodtoday" value="happy">
    <label for="happy">Happy</label>
   <input type="checkbox" id="sad" name="moodtoday" value="angry">
    <label for="angry">Angry</label>


  <legend>Why do you have this feeling?</legend>
  <textarea class="text" name="text"></textarea>

</form> -->


















  <script src="main.js"></script>
</body>
</html>