<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<section class="header">
<nav>
  <!-- <a href="#"><img src="./img/logo-color.jpg"></a> -->
  <div class="nav-links">
    <ul>
      <li><a href="#">HOME</a></li>
      <li><a href="/mood">MOOD TRACKER</a></li>
      <li><a href="/journal">DAILY JOURNAL</a></li>
      <li><a href="/progress">PROGRESS</a></li>
    </ul>
  </div>
</nav>

<div class="textBox">
  <h1>Serenity</h1>
  <p>Mental Health App</p>
  <a href="#" class="pressButton">Visit to know More</a>
</div>



</section>
   



















<script src="main.js"></script>

</body>
</html>
